<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>Magic 8 Ball</title>
    <script>
    </script>
    <style>
        html{
            display: flex;
            justify-content: center;
            text-align: center;
        }
    </style>
    <body>
        {{{body}}}
    </body>
</html>