<form action="/answer" method="post">
    <h1>Magic 8 Ball</h1>
    <p>Ask a yes or no question:</p>
    <input style="margin-bottom: 10px;" type="text" name="theQuestion" required/><br />

    <input type="submit" value="Submit"/>
</form>